.site-block__col {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 10px; }

.lr-site__bg-image, .site-block__bg-image, .site-block__col-bg-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0; }

.site-block__col-bg-image {
  z-index: 0; }

.lr-site__bg-image {
  position: fixed; }

.lr-site {
  word-wrap: normal; }

.site-block {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative; }

.site-block__content {
  position: relative; }

.lr-site .form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0; }
.lr-site .form-horizontal .btn {
  display: block;
  margin: 0 auto; }
.lr-site .centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }
.lr-site .mt-table--width-undefined {
  width: 100%; }
.lr-site .mt-table--width-50 {
  width: 50%; }
.lr-site .mt-table--width-60 {
  width: 60%; }
.lr-site .mt-table--width-70 {
  width: 70%; }
.lr-site .mt-table--width-80 {
  width: 80%; }
.lr-site .mt-table--width-90 {
  width: 90%; }
.lr-site .mt-table--width-100 {
  width: 100%; }
.lr-site .mt-table--align-left {
  margin-right: auto; }
.lr-site .mt-table--align-right {
  margin-left: auto; }
.lr-site .mt-table--align-center {
  margin-left: auto;
  margin-right: auto; }

.lr-site .site-user-signup__submit {
  line-height: 0.5em; }
.lr-site .site-user-signup__label {
  display: none; }
.lr-site .validation {
  visibility: visible;
  font-weight: normal;
  font-size: 14px;
  display: block;
  margin-bottom: 0;
  position: absolute;
  top: -22px; }
.lr-site .site-user-signup__form {
  margin-left: -5px; }
.lr-site .site-user-signup__form-group {
  padding: 0 0 0 5px;
  position: relative; }
.lr-site .form-vertical .mt-table, .lr-site .form-vertical .mt-table--full, .lr-site .form-vertical .mt-table--centered, .lr-site .form-vertical .mt-table--full, .lr-site .form-vertical .mt-td--centered-vertical {
  display: block; }
@media all and (max-width: 767px) {
  .lr-site .form-horizontal .mt-table, .lr-site .form-horizontal .mt-table--full, .lr-site .form-horizontal .mt-table--centered, .lr-site .form-horizontal .mt-table--full, .lr-site .form-horizontal .mt-td--centered-vertical {
    display: block; } }
@media all and (min-width: 768px) {
  .lr-site .form-horizontal .site-user-signup__col-2 {
    width: 1%; } }
.lr-site .social-share {
  text-align: center;
  display: block !important;
  width: 100%; }
  .lr-site .social-share input {
    text-align: center;
    width: auto;
    margin: 0 auto; }
  .lr-site .social-share p {
    margin: 10px 0 5px 0; }
  .lr-site .social-share ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .lr-site .social-share li {
    display: inline-block;
    pading: 0;
    margin: 0; }
  .lr-site .social-share a {
    display: block;
    margin: 2px;
    opacity: 0.9;
    height: 36px;
    width: 36px;
    background-position: 50% 50%;
    background-size: contain; }
    .lr-site .social-share a:hover {
      opacity: 1; }
    .lr-site .social-share a.facebook {
      background-image: url('/assets/lr-site/media/images/social-icons/facebook.png'); }
    .lr-site .social-share a.twitter {
      background-image: url('/assets/lr-site/media/images/social-icons/twitter.png'); }
    .lr-site .social-share a.linkedin {
      background-image: url('/assets/lr-site/media/images/social-icons/linkedin.png'); }
    .lr-site .social-share a.tumblr {
      background-image: url('/assets/lr-site/media/images/social-icons/tumblr.png'); }
    .lr-site .social-share a.google-plus {
      background-image: url('/assets/lr-site/media/images/social-icons/google-plus.png'); }

.lr-site .floating-signup__wrap {
  position: fixed;
  z-index: 5;
  padding: 10px; }

.floating-signup {
  position: relative;
  padding: 10px 20px; }

.floaty-vertical--top {
  top: 0; }

.floaty-vertical--middle {
  top: 50%;
  transform: translateY(-50%); }

.floaty-vertical--bottom {
  bottom: 0; }

@media all and (max-width: 480px) {
  .floaty-unfloat-at--xs.floating-signup__wrap {
    position: static;
    display: block;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    transform: translateY(0);
    float: none; } }

@media all and (max-width: 768px) {
  .floaty-unfloat-at--sm.floating-signup__wrap {
    position: static;
    display: block;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    transform: translateY(0);
    float: none; } }

.insert--image {
  display: block;
  position: relative; }
  .insert--image.wrap-on-align-left {
    float: left; }
  .insert--image.wrap-on-align-right {
    float: right; }
  .insert--image.wrap-off-align-left {
    margin-right: auto; }
  .insert--image.wrap-off-align-center {
    margin-left: auto;
    margin-right: auto; }
  .insert--image.wrap-off-align-right {
    margin-left: auto; }
  .insert--image.abs {
    position: absolute; }

.insert--anchor {
  cursor: pointer;
  display: block; }

.bg-color--0, .bg-color--1, .bg-color--2, .bg-color--3, .bg-color--4, .bg-color--5, .bg-color--6, .bg-color--7, .bg-color--8 {
  display: inline-block;
  padding: 0.1em 0.2em; }

@media all and (min-width: 768px) {
  .multi-column-html--htmltwobytwo .col-sm-6:nth-child(2n+1) {
    clear: left; } }

@media all and (min-width: 768px) and (max-width: 991px) {
  .multi-column-html--htmlonebyfour .col-sm-6:nth-child(2n+1) {
    clear: left; } }

.m-lg-v {
  margin-top: 30px;
  margin-bottom: 30px; }

.mt-table, .mt-table--full, .mt-table--centered {
  display: table; }

.mt-table--full {
  width: 100%; }

.mt-table--centered {
  margin-right: auto;
  margin-left: auto; }

.mt-tr {
  display: table-row; }

.mt-td, .mt-td--top, .mt-td--centered, .mt-td--right, .mt-td--centered-vertical {
  display: table-cell; }

.mt-td--top {
  vertical-align: top; }

.mt-td--centered {
  vertical-align: middle;
  text-align: center; }

.mt-td--right {
  text-align: right; }

.mt-td--centered-vertical {
  vertical-align: middle; }

.mt-td--1-percent {
  width: 1%; }

/**
     *  Convert the CSS table to regular blocks at a breakpoint
     *  of your choosing
     *  $maxOrMinWidth  'max-width' or 'min-width'
     *  $breakpoint     An integer and unit of measure.  E.g.  '200px'
     */
/**
     *  Move a td or tr to the top of the table at a certain breakpoint.
     */
/**
     * Move a td or tr to the bottom of the table at a certain breakpoint.
     */
html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  min-height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857;
  font-size: 14px; }

.lr-site .lr-site__powered-by-badge {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
  border-top-left-radius: 5px;
  background: rgba(0, 0, 0, 0.8); }
  .lr-site .lr-site__powered-by-badge a {
    display: block;
    height: 42px;
    width: 130px;
    background: url('/assets/lr-site/media/images/powered-by-launchrock.png') 50% 50% no-repeat; }
.lr-site .lr-site__loading-state {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url('/assets/lr-site/media/images/loading.gif') 50% 45% no-repeat; }
.lr-site .lr-site__blocks {
  display: block; }
.lr-site .mediumInsert-buttons {
  display: none; }
.lr-site .centered {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important; }
.lr-site .centered-text {
  text-align: center; }

.rel {
  position: relative; }

.abs {
  position: absolute; }
